.wrapperArticles {
  margin: 3vh 8vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;

  .wrapper {
    padding: 15px;
    border: 1px solid #e6e6e6;

    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 300;
    }

    .description {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 300;
    }

    .link {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
    }
  }

  img {
    width: calc(50vw - 8vw - 1vw - 2 * 15px);
    height: auto;
  }
}
